#hero-con{
    height: 400px;
   
}


#new-arrival{
    padding-left: 15px;
    padding-right: 15px;
    height: 400px;
    margin-bottom:0px;
}
#banner {
    padding-top: 0px;
    margin-top: 0px;
    height: 100px;
}
.box2 {
    background-color: black;
}